---
- name: Update APT package cache
  ansible.builtin.apt:
    update_cache: yes

- name: Install essential packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - wget
    - gnupg2
    - lsb-release
    - curl

- name: Download the Percona repository package
  ansible.builtin.get_url:
    url: https://repo.percona.com/apt/percona-release_latest.generic_all.deb
    dest: /tmp/percona-release_latest.generic_all.deb

- name: Install Percona release package
  ansible.builtin.apt:
    deb: /tmp/percona-release_latest.generic_all.deb
    state: present

- name: Update APT package cache (again)
  ansible.builtin.apt:
    update_cache: yes


- name: Setup Percona XtraDB Cluster 8.0
  become: yes
  command: percona-release setup pxc80

- name: Install Percona XtraDB Cluster
  ansible.builtin.apt:
    name: percona-xtradb-cluster
    state: present
    update_cache: yes